:root {
    --main: darkcyan;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

body {
    margin: 0;
    border: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}

.container {
    background-color: gray;
    width: 350px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    box-shadow: 0px 0px 5px 0px black;
}

.result {
    width: 90%;
    height: 80px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    border: 2px solid black;
    text-align: end;
    font-size: 1.5rem;
}

.numbers {
    width: 70%;
    background-color: var(--main);
    height: 79%;
    position: relative;
    left: 12px;
    margin: 0px 2px 2px 2px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2px;
}

.number {
    width: 75px;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(48, 202, 202);
}

.number:last-child {
    background-color: rgb(196, 63, 63);
}

.operators {
    width: 20%;
    height: 79%;
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.operator {
    width: 90%;
    height: 50px;
    border: 2px solid black;
    margin: auto;
    background-color: var(--main);
    color: black;

}

.operator:last-child {
    height: 130px;
    background-color: coral;
}

.number, .operator {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.number:active, .operator:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.number, .operator, .result,.container {
    border-radius: 10px;
}


